* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: default;
}

:root {
    --pink: rgb(247, 143, 160);
}
.cl-pk {
    color: var(--pink);
}
.collapse {
    display: none;
}
.expand {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgba(100, 100, 100, 0.8);
    padding: 5px 25px;
    font-size: 18px;
    border-radius: 3px;
    text-align: left;
    gap: 7px 0px;
}
option {
    background-color: rgb(2, 2, 27);
    color: white;
}
.dark {
    background-color: rgb(2, 2, 27);
    color: white;
}
.light {
    background-color: white;
    color: rgb(2, 2, 27);
}
.itemObject {
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    .itemObject-title {
        position: relative;
        top: 0;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }
    .itemObject-img {
        height: 200px;
        width: 200px;
    }
    .itemObject-price {
        position: relative;
        top: 0;
        text-align: center;
        font-size: 20px;
    }
}
