* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.ticket-slip {
  display: none;
  position: absolute;
  height: fit-content;
  width: 500px;
  border: 1px solid black;
  background-color: white;
  color: black;
  gap: 20px;
  text-align: center;
  .print-btn {
    place-self: right;
    padding: 9px 12px;
    border-radius: 7px;
    background-color: rgba(225, 216, 220, 0.5);
    font-weight: bold;
  }
  .print-btn:hover {
    background-color: rgb(225, 220, 230);
    transition: all ease-in 0.3s;
  }
  .ticket-header {
    height: 100px;
    width: 100%;
    .ticket-header-title {
      font-size: 25px;
      font-weight: bold;
      text-transform: uppercase;
    }
    .ticket-header-location {
      font-size: 12px;
      text-transform: capitalize;
    }
    .ticket-header-id {
      font-size: 16px;
    }
  }
  .row-align {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 5% 55% 20% 20%;
    width: 100%;
    padding: 5px;
    color: black;
    border: 1px solid black;
    font-size: 20px;
    text-transform: uppercase;
    .remove {
      font-weight: bold;
      font-family: "Calibri";
      color: gold;
    }
    input {
      height: inherit;
      text-align: center;
    }
  }
  .ticket-footer {
    margin-top: 20px;
  }
}
